body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  li {
    list-style: none;
  }
  dl{
    margin-bottom: 0;
  }
}


// ::selection {
//   color: #fff;
//   background-color: red;
// }