body {
  -webkit-font-smoothing: antialiased;
  word-break: break-all;
  ul{
    padding-left: 0;
  }
  li {
    list-style: none;
  }
  ul,dl,p,h1,h2,h3{
    margin-bottom: 0;
  }

  #__nuxt, #__layout {
    height: 100%;
  }
}